@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 1500px;
    display: flex;
    flex-direction: column;
    font-family: 'Bai Jamjuree';
    align-items: center;
}

header {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../clipboard-landing-page-master/images/bg-header-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#logo {
    margin: 30px auto;
}

main {
    width: 100%;
    display: flex;
}

header {
    text-align: center;
}

h1 {
    font-size: 26px;
    font-weight: 550;
    color: hsl(210, 10%, 33%);
}

#descriptionTitle p {
    font-size: 11px;
    margin-top: 11px;
    color: hsl(201, 11%, 66%);
    line-height: 1.4;
    margin-bottom: 28px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 8px;
}

.iOS,
.Mac {
    border: 0;
    padding: 9px 20px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: 'Bai Jamjuree';
    font-size: 10px;
    font-weight: 500;
    box-shadow: 2px 2px 10px -4px grey;
}

.Mac {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 2px solid;
    border-color: hsl(233, 46%, 49%);
}

.iOS {
    background-color: hsl(171, 33%, 58%);
    border-bottom: 2px solid;
    border-color: hsl(171, 24%, 47%);
}

.Mac:hover {
    background-color: #8896FF;
}

.iOS:hover {
    background-color: #5DCCBB;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

#card1 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-left: -120px;
    gap: 62px;
}

#macscreen {
    background-color: red;
}

#macscreen img {
    width: 450px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

h2 {
    font-size: 22px;
    font-weight: 550;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-bottom: 10px;
}

#features {
    text-align: left;
    align-content: center;
    margin-top: -18px;
}

.description2 {
    font-size: 10px;
    margin-bottom: 60px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 1.8;
}

h3 {
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 5px;
}

.description3 {
    font-size: 9px;
    margin-bottom: 30px;
    text-align: left;
    color: hsl(201, 11%, 66%);
    line-height: 2;
}

#card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
}

#phonetablet {
    margin-top: 5px;
    margin-bottom: 50px;
    max-width: 550px;
    width: 80%;
}

#featureswithimages {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: -15px;
}

.examples {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.examples div {
    align-self: center;
    margin-bottom: 30px;
    height: 30px;
    width: 30px;
    align-content: center;
}

.examples img {
    width: 100%;
}

.examples h3 {
    text-align: center;
    margin-bottom: 12px;
}

.examples p {
    font-size: 10px;
    margin-bottom: 60px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 1.8
}

#companies {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    height: 40px;
    gap: 65px;
    margin-top: 50px;
    margin: auto;
    justify-content: center;
    margin-bottom: 95px;
}

#companies img {
    width: 10%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

#buttonslast {
    margin-top: 30px;
}

footer {
    width: 100%;
    background-color: #F5F6F8;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#logo2 {
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    display: flex;
    height: 95px;
    gap: 55px;
    flex-wrap: wrap;
}

.hyperlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bai Jamjuree';
    font-size: 10px;
    text-align: left;
    gap: 15px;
    flex-wrap: wrap;
}

.hyperlinks a {
    color: #64686B;
    text-decoration: none;
}

.hyperlinks a:hover {
    color:#59BDAA;
    font-style: normal;
}

footer .hyperlinks:nth-child(3){
    justify-content: start;
    margin-top: 27px;
}
#socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
footer svg {
    transform:scale(0.5);
}
#socialMedia a svg:hover path {
  fill: #59BDAA;
}
.desktop-break {
  display: inline;
}
.mobile-break {
  display: none;
}

@media (width <= 375px) {
    #card1, body, #featureswithimages, #companies, .buttons, footer, footer div {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
        }
}
@media (width <= 375px) {
.desktop-break {
    display: none;
  }
  .mobile-break {
    display: inline;
  }
}
@media (width <= 375px) {
    #card1 img, #phonetablet img, .buttons iOS, .buttons Mac {        
        align-items: center;
        width: 200px;
    }
}
@media (width <= 375px) {
    .iOS, .Mac {        
        padding: 9px 50px;
}
}
@media (width <= 375px) {
    #companies, footer div, #links {        
        align-items: center;
        gap: 0;
    }
}
@media (width <= 375px) {
    #companies img {        
        width: 20%;
}
}

@media (width <= 375px) {
    .titles3, .description3 {        
        text-align: center;
        justify-content: center;
        width: 200px;
    }
}
@media (width <= 375px) {
    #links {
    flex-direction: column;
    }
    }
@media (width <= 375px) {
    #socialMedia {        
        flex-direction: row;
    }
}